.container_detail {
    display: flex;
    justify-content: center; /* Căn giữa phần tử theo chiều ngang */
    align-items: center; /* Căn giữa phần tử theo chiều dọc */
    height: 100vh; /* Sử dụng chiều cao 100% của cửa sổ trình duyệt */
}
.container_detail1 {
    display: flex;
}
.column_footer{
    flex: 100%;
}
.column_detail {
}
.column1_detail,
.column3_detail {
    flex: 20%;
    height: 67%;
}
.column2_detail {
    flex: 60%; /* Thay đổi tỷ lệ flex để video lớn hơn */
    background-color: black;
}
.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* Tỉ lệ khung cho video 16:9 */
}
.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .container_detail {
        flex-direction: column; /* Chuyển sang layout dạng cột khi màn hình nhỏ hơn 768px */
    }
    .column_detail {
        flex: 100%;
    }
    .column2_detail {
        order: -1;
    }
    .footer_detail {
        position: relative;
        width: 100%; /* Chiều rộng 100% của trang */
        color: white; /* Màu chữ cho footer */
        text-align: center; /* Căn giữa nội dung của footer */
        padding-top: 40%;
    }
}
.btn__add_detail {
    background: linear-gradient(90deg, #FBBD61 0%, #EC7532 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}
.btn__add_detail :hover {
    background: linear-gradient(90deg, #87BCF5 0%, #3863E2 100%);
}
.btn__add_detail :hover {
    background: linear-gradient(90deg, #87BCF5 0%, #3863E2 100%);
}
.showtime_detail > a_detail > button_detail {
    color: black;
    padding: 6px 20px;
    position: relative;
    font-size: 16px;
    width: 120px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}
.page-wrapper_detail {
    position: relative; /* Thiết lập position là relative để footer không đè lên các phần khác */
}
.footer_detail5 {
    position: relative;
    width: 100%; /* Chiều rộng 100% của trang */
    color: white; /* Màu chữ cho footer */
    text-align: center; /* Căn giữa nội dung của footer */
    padding-top: 55%;
}
.footer_detail {
    width: 100%; /* Chiều rộng 100% của trang */
    color: white; /* Màu chữ cho footer */
    text-align: center; /* Căn giữa nội dung của footer */
    padding-top: 30%;
}
.active1 {
    color: black;
    padding: 6px 20px;
    position: relative;
    margin-right: 10px;
    font-size: 16px;
    width: 120px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}