* {
  font-family: roboto condensed, sans-serif
}
.sold-ticket {
  text-align: center;
}
.total-income {
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
th {
    font-size: small;
}
td {
  font-size: small;
}