.movie-item.active {
    background-color: #CFE1FE;
    color: #fff;
}
.movie-item{
    color: black;
    padding: 6px 20px;
    position: relative;
    margin-right: 10px;
    font-size: 16px;
    width: 120px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}
.movie:hover{
    background-color: #CFE1FE;
}
.movie-item:hover{
    background-color: #CFE1FE;

}